
@font-face {
  font-family: Alliance;
  src: url(assets/fonts/Alliance/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf);
}

  .avatar{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }
  .navbar-brand{
    border-radius: 50%;
  }
  .Titlename{
    color: rgb(167, 172, 173);
    text-align: center;
    margin-bottom: 25px;
    
  }

  .mediaicons{
    align-items: center;
    text-align:center;
  }

  .html-rainbow-text span {
    font-family: monaco, consolas, 'Lucida Console', monospace;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    text-shadow: #A3A3A3 1px 1px 0px;
  }
  

  .avataral{
    width:fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 5px dotted  #ccc;
    border-radius: 50%;
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    /*background-color:#ffffff*/
    background-image: linear-gradient(to right, rgb(3, 3, 65) , rgb(5, 1, 8))

  }
  
  .nav {
    height: 60px;
    width: 100%;
    background-color: #020303;
    position:relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
   /* color:white;*/
    padding: 10px 10px 10px 10px;
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Alliance', sans-serif;
    background: -webkit-linear-gradient(-70deg, #7ee787 0%, #02e9fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   /*font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;*/
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:rgb(250, 244, 244);
    background-color: black;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(255, 246, 246, 0.932);
    color: #d10426;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: transparent;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

 

  .button2{
    color:rgb(27, 218, 202);
    background-color: rgb(1, 29, 51);
    border-radius: 40pt;
    box-shadow: aqua;
    padding-inline-start: 20pt;
    padding-inline-end: 20pt;
    padding-top: 15pt;
    padding-bottom: 10pt;
    margin-left: 10pt;
    text-align: center;
    font-size: 15pt;
    transition-duration: 0.9s;
    margin-left: 50px;
    
  }

  .button2:hover{
    background-color: rgb(27, 218, 202);
    color:rgb(2, 56, 56);
  }

  .btn-group-vertical{
    float: right;
    position: relative;
  }

  



.progress{
  margin-bottom: 10pt;
  margin-top: 10pt;
}

/*weather card*/



/*weather card*/
  
/*contact form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #d4176f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #087d81;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*contact form*/


/*Blog Page*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/*header title*/
.blogname{
  color: rgb(35, 184, 243);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 22%;
  padding-left: 20px;
  
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(247, 241, 222);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/*Blog Page*/


/*Popup Chat Window*/
/*Popup Chat Window*/

/*github_statscard*/
.github_statscard{
  padding-top: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  margin-top: 7pt;
  margin-left: 10pt;
  margin-right: 10pt;
  
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
  border-width: 2px;
 color: #02e9fa;
 border-radius: 20pt;
  /*text-decoration-color: #aaa;
  color:rgb(27, 27, 23);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:20px;
  font-weight:400;*/
}

.Github_stats_text{
  font-weight: 400;
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*text-align: center;*/
  padding: 13px 10px 13px 10px;
  font-size: x-large;
  font-family: 'Alliance', sans-serif;

}

/*github_statscard*/


/*footer*/
.container-fluid {
  overflow: hidden;
  margin-top: 1px;
  background: white;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
  color: #989c9e !important
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
  font-size: 21px !important
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

/*footer*/

/*CLOCK*/

/*CLOCK*/

.AMITY_TEXT{
  color: #60666d;
  font-size: 20pt;
  font-weight:400;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.AMITY_TEXT:hover{
  color: #d10426;
}
.footer_sumitvarun:hover{
  color: #d10426;

}

/*skills
.skills{
  background-color: #221f1f;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: 0pt;
  margin-right: 10pt;
  padding-top: 30pt;
  padding-right: 40pt;
  
}*/
.skills{
 /* font-weight: 200;
  color: rgba(240, 247, 255, 0.699);
  text-align: center;
  font-family: 'Exo 2', sans-serif;*/
  
}
.text_skills{
  font-weight: 600;
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Alliance', sans-serif;

}
.skillicons{
padding-left: 60pt;
padding-right: 60pt;
align-content:space-between;
display:contents;
}
/*skills*/

/*Projects*/
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

* {
  box-sizing: border-box;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /*background-image: linear-gradient(to right ,rgb(4,13,33),rgb(0,0,0));*/
  background-image: linear-gradient(to right ,rgb(255, 255, 255),rgb(163, 158, 158));

  /*box-shadow: 0px 0px 20px 0px #01887d;*/
  box-shadow: 0px 0px 20px 0px #fc04ef;
  padding: 10px;
  border-radius: 20px;
  /*color: white;*/
  color: black;
  
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


.Projects{
  /*background-color: #221f1f;*/
  background-image: linear-gradient(to right, rgb(3, 3, 65) , rgb(5, 1, 8));
  font-family: 'Exo 2', sans-serif;

}
.Project_text{
  background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Alliance', sans-serif;
  font-size: larger;
  text-align: center;
}


/*Projects*/

/* css gradient button*/

.btn-grad {background-image: linear-gradient(to right, #06060796 0%, #18202438  51%, #f10c177e  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 10px #eee;
   border-radius: 10px;
   display: inline-block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

/* css gradient button end here*/

.github_statscard{
 /* background-color: #221f1f;*/
 background-image: linear-gradient(to right, rgb(3, 3, 65) , rgb(5, 1, 8))
}

.resumebg{
  /*background-image: linear-gradient(to right, blue ,rgb(24, 2, 150),rgb(70, 2, 119))*/
  background-image: linear-gradient(to left, rgb(5,39,95) ,rgb(4,13,33),rgb(0,0,0));
  box-shadow: 0px 5px 52px 1px #4e02ff;
  

}

.hellosumit{
  font-family: 'Pacifico', cursive;
}

.subtitle{
  /*font-family: 'Exo 2', sans-serif;*/
  font-weight: 400;
 /* background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  text-align: center;
  font-family: 'Alliance', sans-serif;
}

/*snow flakes start here*/

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: 1vw;
  left: 87vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(2) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -2vw;
  left: 86vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(3) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: -7vw;
  left: 22vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: 1vw;
  left: 27vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(5) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: -9vw;
  left: 72vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -3vw;
  left: 10vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(7) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 5vw;
  left: 21vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(8) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: -8vw;
  left: 68vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(9) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: -8vw;
  left: 79vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(10) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: 5vw;
  left: 64vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 26vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(12) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 9vw;
  left: 82vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(13) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 9vw;
  left: 40vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(14) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: 5vw;
  left: 68vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(15) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: -2vw;
  left: 86vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(16) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: 8vw;
  left: 77vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(17) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: -4vw;
  left: 68vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(18) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 38vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(19) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 9vw;
  left: 47vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: -9vw;
  --left-end: 4vw;
  left: 86vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(21) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: -9vw;
  left: 67vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(22) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: 10vw;
  left: 69vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(23) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 3vw;
  left: 17vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(24) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 3vw;
  left: 90vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: 6vw;
  left: 14vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 4vw;
  left: 17vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(27) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 7vw;
  left: 56vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 16vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(29) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: -6vw;
  left: 23vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(30) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 5vw;
  left: 37vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(31) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: 9vw;
  left: 22vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(32) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: 0vw;
  left: 57vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(33) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: 0vw;
  left: 18vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(34) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 6vw;
  left: 80vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(35) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: 5vw;
  left: 50vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(36) {
  --size: 0.4vw;
  --left-ini: 1vw;
  --left-end: -5vw;
  left: 62vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(37) {
  --size: 0.6vw;
  --left-ini: 4vw;
  --left-end: 3vw;
  left: 9vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(38) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: -5vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(39) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 9vw;
  left: 79vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(40) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: -5vw;
  left: 60vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(41) {
  --size: 1vw;
  --left-ini: 8vw;
  --left-end: 0vw;
  left: 47vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(42) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: -7vw;
  left: 98vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: 6vw;
  left: 23vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(44) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: 7vw;
  left: 54vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: 8vw;
  left: 68vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(46) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 12vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(47) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 10vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(48) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: -3vw;
  left: 94vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(49) {
  --size: 0.6vw;
  --left-ini: 0vw;
  --left-end: -8vw;
  left: 59vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: 0vw;
  left: 45vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

/***/


/*snow flakes end here*/